<div class="">
  <div class="aHl"></div>
  <div id=":nd" tabindex="-1"></div>
  <div id=":n3" class="ii gt"
       jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTgwNDcyNTkzMTI1MTA0OTg1OSJd; 4:WyIjbXNnLWY6MTgwNDcyNTkzMTI1MTA0OTg1OSIsbnVsbCxudWxsLG51bGwsMCwwLFsxLDAsMF0sMTIyLDcyMixudWxsLG51bGwsbnVsbCxudWxsLG51bGwsMSxudWxsLG51bGwsWzNdLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLDBd">
    <div id=":nn" class="a3s aiL msg4341283906409975928"><u></u>
      <div style="margin:0;padding:0" dir="ltr" bgcolor="#ffffff">
        <table border="0" cellspacing="0" cellpadding="0" align="center" id="m_4341283906409975928email_table"
               style="border-collapse:collapse">
          <tbody>
          <tr>
            <td id="m_4341283906409975928email_content"
                style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff">
              <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                <tbody>
                <tr>
                  <td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
                </tr>
                <tr>
                  <td height="1" colspan="3" style="line-height:1px"></td>
                </tr>
                <tr>
                  <td>
                    <table border="0" width="100%" cellspacing="0" cellpadding="0"
                           style="border-collapse:collapse;text-align:center;width:100%">
                      <tbody>
                      <tr>
                        <td width="15px" style="width:15px"></td>
                        <td style="line-height:0px;max-width:600px;padding:0 0 15px 0">
                          <table border="0" width="100%" cellspacing="0" cellpadding="0"
                                 style="border-collapse:collapse">
                            <tbody>
                            <tr>
                              <td style="width:100%;text-align:left;height:33px"><img height="33"
                                                                                      src="https://ci3.googleusercontent.com/meips/ADKq_NZOuwWow1hequUmkYlojOB8b7wBf6eSVAJaMxSRSRbOK-m43XIVYFgsxdp06-1V6TG1kn-vCSX0fIByOKeu2ekAw5B_GWA6pO79NqE0KGuXp7w=s0-d-e1-ft#https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/Otjcwa2eCOF.png"
                                                                                      style="border:0" class="CToWUd"
                                                                                      data-bit="iit"></td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                        <td width="15px" style="width:15px"></td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table border="0" width="430" cellspacing="0" cellpadding="0"
                           style="border-collapse:collapse;margin:0 auto 0 auto">
                      <tbody>
                      <tr>
                        <td>
                          <table border="0" width="430px" cellspacing="0" cellpadding="0"
                                 style="border-collapse:collapse;margin:0 auto 0 auto;width:430px">
                            <tbody>
                            <tr>
                              <td width="20" style="display:block;width:20px">&nbsp;&nbsp;&nbsp;</td>
                              <td><p style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">Hi {{ to_name }},</p>
                                <p style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">Sorry to hear you’re having
                                  trouble logging into Instagram. We got a message that you forgot your password. If
                                  this was you, you can get right back into your account or reset your password now.</p>
                              </td>
                            </tr>
                            <tr>
                              <td height="20" style="line-height:20px">&nbsp;</td>
                            </tr>
                            <tr>
                              <td width="20" style="display:block;width:20px">&nbsp;&nbsp;&nbsp;</td>
                              <td><a
                                href="https://www.instagram.com/_n/emaillogin?uid=1ho6elr&amp;token=AKzq1U&amp;auto_send=0&amp;is_caa=0&amp;afv=LEGACY_FLOW"
                                style="color:#1b74e4;text-decoration:none;display:block;width:370px" target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/_n/emaillogin?uid%3D1ho6elr%26token%3DAKzq1U%26auto_send%3D0%26is_caa%3D0%26afv%3DLEGACY_FLOW&amp;source=gmail&amp;ust=1734185112338000&amp;usg=AOvVaw0XyXUAC52modh4MzpDYCjH">
                                <table border="0" width="390" cellspacing="0" cellpadding="0"
                                       style="border-collapse:collapse">
                                  <tbody>
                                  <tr>
                                    <td
                                      style="border-collapse:collapse;border-radius:3px;text-align:center;display:block;border:solid 1px #009fdf;padding:10px 16px 14px 16px;margin:0 2px 0 auto;min-width:80px;background-color:#47a2ea">
                                      <a
                                        href="http://localhost:4200/"
                                        style="color:#1b74e4;text-decoration:none;display:block" target="_blank"
                                        data-saferedirecturl="http://localhost:4200/">
                                        <font size="3"><span
                                          style="font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#fdfdfd;font-size:16px;line-height:16px">Log&nbsp;in&nbsp;as&nbsp;{{ to_name }}</span></font>
                                      </a></td>
                                  </tr>
                                  </tbody>
                                </table>
                              </a></td>
                            </tr>
                            <tr>
                              <td width="20" style="display:block;width:20px">&nbsp;&nbsp;&nbsp;</td>
                              <td>
                                <table border="0" width="100%" cellspacing="0" cellpadding="0"
                                       style="border-collapse:collapse">
                                  <tbody>
                                  <tr>
                                    <td>
                                      <table border="0" cellspacing="0" cellpadding="0"
                                             style="border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                          <td>
                                            <table border="0" cellspacing="0" cellpadding="0"
                                                   style="border-collapse:collapse">
                                              <tbody>
                                              <tr></tr>
                                              <tr>
                                                <td height="20" style="line-height:20px">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td><a
                                                  href="http://localhost:4200/"
                                                  style="color:#1b74e4;text-decoration:none;display:block;width:370px"
                                                  target="_blank"
                                                  data-saferedirecturl="http://localhost:4200/">
                                                  <table border="0" width="390" cellspacing="0" cellpadding="0"
                                                         style="border-collapse:collapse">
                                                    <tbody>
                                                    <tr>
                                                      <td
                                                        style="border-collapse:collapse;border-radius:3px;text-align:center;display:block;border:solid 1px #009fdf;padding:10px 16px 14px 16px;margin:0 2px 0 auto;min-width:80px;background-color:#47a2ea">
                                                        <a
                                                          href="http://localhost:4200/"
                                                          style="color:#1b74e4;text-decoration:none;display:block"
                                                          target="_blank"
                                                          data-saferedirecturl="http://localhost:4200/">
                                                          <span
                                                            style="white-space:nowrap;font-weight:bold;vertical-align:middle;color:#fdfdfd;font-size:16px;line-height:16px">Reset&nbsp;your&nbsp;password</span>
                                                        </a></td>
                                                    </tr>
                                                    </tbody>
                                                  </table>
                                                </a></td>
                                              </tr>
                                              <tr>
                                                <td height="20" style="line-height:20px">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                              </tr>
                                              <tr></tr>
                                              <tr>
                                                <td>
                                                  <div>
                                                    <div
                                                      style="padding:0;margin:10px 0 10px 0;color:#565a5c;font-size:16px">
                                                      If you didn’t request a login link or a password reset, you can
                                                      ignore this message and <a
                                                      href="https://help.instagram.com/231141655544451"
                                                      style="color:#1b74e4;text-decoration:none" target="_blank"
                                                      data-saferedirecturl="https://www.google.com/url?q=https://help.instagram.com/231141655544451&amp;source=gmail&amp;ust=1734185112338000&amp;usg=AOvVaw2M-53GX1ke8oArRESr9LWU">learn
                                                      more about why you may have received it</a>. <span></span><br><br>Only
                                                      people who know your Instagram password or click the login link in
                                                      this email can log into your account.
                                                    </div>
                                                  </div>
                                                </td>
                                              </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                          <td width="20" style="display:block;width:20px">&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table border="0" cellspacing="0" cellpadding="0"
                           style="border-collapse:collapse;margin:0 auto 0 auto;width:100%;max-width:600px">
                      <tbody>
                      <tr>
                        <td height="4" style="line-height:4px" colspan="3">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="15px" style="width:15px"></td>
                        <td width="20" style="display:block;width:20px">&nbsp;&nbsp;&nbsp;</td>
                        <td style="text-align:center">
                          <div style="padding-top:10px;display:flex">
                            <div style="margin:auto"><img
                              src="https://ci3.googleusercontent.com/meips/ADKq_NZ2ivJHkv1KH9YS4Yecj8l99ueLszgAkXVAp0N50dD4Ymu0h1h6mxYcBJPC_sK-e9dLWuH1g-vgF844MKpudUUCekQ6pdY1QLsHcrt36zAkxpk=s0-d-e1-ft#https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/Bqo9-L659wB.png"
                              height="26" width="52" alt="" class="CToWUd" data-bit="iit"></div>
                            <br></div>
                          <div style="height:10px"></div>
                          <div style="color:#abadae;font-size:11px;margin:0 auto 5px auto">© Instagram. Meta Platforms,
                            Inc., 1601 Willow Road, Menlo Park, CA 94025<br></div>
                          <div style="color:#abadae;font-size:11px;margin:0 auto 5px auto">This message was sent to <a
                            style="color:#abadae;text-decoration:underline">{{ email }}</a> and intended
                            for {{ to_name }}. Not your account? <a
                              href="https://instagram.com/api/v1/web/accounts/remove/revoke_wrong_email/?uidb36=1ho6elr&amp;token=6mt-bc0ce2e5c222b3a052f3fcf7e563165f&amp;nonce=VPNqGLm4&amp;encoded_email=YWhtZXQuYWtlci4xOTA3QGdtYWlsLmNvbQ"
                              style="color:#abadae;text-decoration:underline" target="_blank"
                              data-saferedirecturl="https://www.google.com/url?q=https://instagram.com/api/v1/web/accounts/remove/revoke_wrong_email/?uidb36%3D1ho6elr%26token%3D6mt-bc0ce2e5c222b3a052f3fcf7e563165f%26nonce%3DVPNqGLm4%26encoded_email%3DYWhtZXQuYWtlci4xOTA3QGdtYWlsLmNvbQ&amp;source=gmail&amp;ust=1734185112338000&amp;usg=AOvVaw2koJB8dzAYHy7RNypt9IKo">Remove
                              your email</a> from this account.<br></div>
                        </td>
                        <td width="20" style="display:block;width:20px">&nbsp;&nbsp;&nbsp;</td>
                        <td width="15px" style="width:15px"></td>
                      </tr>
                      <tr>
                        <td height="32" style="line-height:32px" colspan="3">&nbsp;</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
                </tr>
                </tbody>
              </table>
              <span><img
                src="https://ci3.googleusercontent.com/meips/ADKq_NaVh12WaNCg_Ee1iEsCo3S6sp9YSvE99xdjFLXPBgE7fyc54C0y4X3MTuozAsX4beeTSR-iV_V2vut7cX2ixXcZsFqx4Qf75Lz2i8qkQ2Tr2nxYO9EixeeFxnXsuOHiJjLDmFIpHnVA3jcP_WW0_CWZ8t3GFYxVfg=s0-d-e1-ft#https://www.facebook.com/email_open_log_pic.php?mid=61d595df9884aG24bc2d9c69db6fG61d59a78f8b1dG3df"
                style="border:0;width:1px;height:1px" class="CToWUd" data-bit="iit"></span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="yj6qo"></div>
      <div class="adL">

      </div>
    </div>
  </div>
  <div class="WhmR8e" data-hash="0"></div>
</div>
